<%- include ('../../partials/header.ejs')%>
<%- include ('../../partials/navbar.ejs')%>

<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4>Artigos</h4>
                <a href="/admin/articles/create" class="btn btn-success">Criar artigo</a>
                <br><br>
                <table class="table table-dark table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Título</th>
                            <th>Slug</th>
                            <th>Categoria</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% articles.forEach(article => { %>
                        <tr>
                            <td><%= article.id %></td>
                            <td><%= article.title %></td>
                            <td><%= article.slug %></td>
                            <td><%= article.category.title %></td>
                            <td>
                                <a href="/admin/articles/edit/<%= article.id %>" class="btn btn-warning">Editar</a>
                                <form action="/admin/articles/delete" method="POST" onsubmit="confirmDelete(event, this)" style="display: inline;">
                                    <input type="hidden" name="id" value="<%= article.id %>">
                                    <button class="btn btn-danger">Deletar</button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<%- include ('../../partials/footer.ejs')%>

<script>
    function confirmDelete(event, form) {
        event.preventDefault();
        let decision = confirm("Você realmente deseja deletar este artigo?");
        if (decision) {
            form.submit();
        }
    }
</script>